body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5dc;
}

.login-box {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: #303633;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.email-bar {
  margin: 4px;
}
.password-bar {
}

.email-bar,
.password-bar {
  height: 20px;
  border: none;
  border-radius: 6px;
}
.login-button {
  background-color: rgb(21, 135, 173);
  border-style: none;
  border-radius: 3px;
  width: 100px;
  margin: 5px;
  height: 30px;
  cursor: pointer;
  transition: ease;
}

.login-button:active {
  background-color: rgb(16, 54, 0);
}

.login-button:hover {
  background-color: rgb(55, 255, 0);
}
